@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-self: center;
}

.contact-company {
    @include flexCenter;

    color: $primary-color;
    font-size: $small-font-size;
    font-weight: $font-regular;

    &__button {
        @include flexCenter;

        box-shadow: 0 2px 4px rgba(28, 24, 25, 0.1);
        border-radius: 8px;
        border: 0;
        color: $blue-primary-color;
        padding: 12px 50px;
        cursor: pointer;
    }
}
