.score-button {
    border: none;
    border-radius: 16px;
    background: transparent;
    min-width: 350px;
    padding: 12px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: $large-font-size;
    font-weight: $font-semi-bold;
    flex-flow: wrap;

    &--green {
        background: $payed-green-color;
    }

    &--yellow {
        background: $payed-yellow-color;
    }

    &--blue {
        background: $payed-blue-color;
    }

    &:hover {
        box-shadow: 0 4px 6px 0px(0, 0, 0, 0.4);
        background-color: #d1d2e6;
    }
}
